<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.bandcamp_username %}
          <li class="list-inline-item">
            <a href="https://{{ site.bandcamp_username }}.bandcamp.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-music" aria-hidden="true" --fa-inverse></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted"> grassnose &copy; {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
