---
layout: post
title: 'three(s)'
subtitle: '20391107-T001.dsf / 20391125-T001.dsf'
date: 2023-12-05 23:16:12 -0400
background: '/img/posts/29.jpg'
---

<h2 class="section-heading">process / gear</h2>

"<a href="{% post_url 2023-10-02-capturing-it %}"><u>info about new (old?) live
        setup</u></a>" and "<a href="{% post_url 2023-10-02-two %}"><u>ditto to
        two</u></a>"

<h2 class="section-heading">thoughts</h2>

went well
<div class="small">
    <ul>
        <li>work fast</li>
    </ul>
</div>

went not so well
<div class="small">
    <ul>
        <li>still learning the mlre ui/shortcuts</li>
    </ul>
</div>

<h2 class="section-heading" style="text-align: center">𖭱|_</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/bHOlIrI3/host_songs/hsraf.mp3"
    %}
</p>
<p style="text-align: center"><sub><b>20391107-T001.dsf</sub></b></p>

<h2 class="section-heading" style="text-align: center">_ᚬ__</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/_4kpBDCe/host_songs/fresh.mp3"
    %}
</p>
<p style="text-align: center"><sub><b>20391125-T001.dsf</sub></b></p>
