---
layout: post
title: 'four'
subtitle: 'efforts'
date: 2024-01-23 15:45:12 -0400
background: '/img/posts/30.jpg'
---
<h2 class="section-heading">efforts</h2>

<p>more mlre exercises: <sub>(mistakes included)</sub></p>

<h2 class="section-heading" style="text-align: center">ᆿꯦ_|ꦺ</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/4BrrgeVT/host_songs/20391107.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/4BrrgeVT/host_songs/20391107.mp3">20391107.dsf</a></sub></b>
</p>

<h2 class="section-heading" style="text-align: center">_𐳍__ᮥᆨ</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/6kx24psf/host_songs/20240119-T001.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/6kx24psf/host_songs/20240119-T001.mp3">20240119-T001.dsf</a></sub></b>
</p>

<h2 class="section-heading" style="text-align: center">ꯜ|ꯨᆯꯣ</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/txHooxII/host_songs/20240119-T002.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/txHooxII/host_songs/20240119-T002.mp3">20240119-T002.dsf</a></sub></b>
</p>

<h2 class="section-heading" style="text-align: center">ꯣ𐳖 𐲦 °</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/QDj1LLf1/host_songs/20240122.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/QDj1LLf1/host_songs/20240122.mp3">20240122.dsf</a></sub></b>
</p>

<div>
    <p><b>next steps:</b></p>
    <div class="small">
        before upgrading mlre to <u><a href="https://github.com/sonocircuit/mlre/tree/dev_v2">v2</a></u>
        (requires recreating <u><a
                href="https://monome.org/docs/norns/reference/params#pset-saveloaddelete-callback">'psets'</a></u> 🫤),
        but
        fresh
        params to control. 🎉
        <ul>
            <li><del>backup old mlre</del></li>
            <ul>
                <li><del><code>code/mlre/**</code></del></li>
                <li><del><code>data/mlre/**</code></del></li>
                <li><del><code>audio/**</code></del></li>
            </ul>
            <li><del>add mlre v2 to <code>code/mlre</code></del></li>
            <li><del>recreate old psets w/ new params</del></li>
            <li><del>bounce new sounds</del></li>
            <li><del>create new psets</del></li>
            <p style="text-align: left">
                <img class="img-fluid" src="/img/posts/31.jpg" alt="new bounces image" />
            </p>
        </ul>
        </ul>
    </div>
</div>