---
layout: post
title: 'four'
subtitle: 'efforts'
date: 2024-01-23 15:45:12 -0400
background: '/img/posts/30.jpg'
---
<h2 class="section-heading">efforts</h2>

<div class="small">
    <p>a last ditch effort to exercise my realtime / playing live muscle before
        upgrading <a href="https://github.com/sonocircuit/mlre/tree/dev_v2">mlre
            to v2</a> requiring me to recreate <a
            href="https://monome.org/docs/norns/reference/params#pset-saveloaddelete-callback">'psets'</a>
        and bind controls
        to some new params. 🎉</p>
</div>

<h2 class="section-heading" style="text-align: center">ᆿꯦ_|ꦺ</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/4BrrgeVT/host_songs/20391107.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/4BrrgeVT/host_songs/20391107.mp3">20391107.dsf</a></sub></b></p>

<h2 class="section-heading" style="text-align: center">_𐳍__ᮥᆨ</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/6kx24psf/host_songs/20240119-T001.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/6kx24psf/host_songs/20240119-T001.mp3">20240119-T001.dsf</a></sub></b></p>

<h2 class="section-heading" style="text-align: center">ꯜ|ꯨᆯꯣ</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/txHooxII/host_songs/20240119-T002.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/txHooxII/host_songs/20240119-T002.mp3">20240119-T002.dsf</a></sub></b></p>

<h2 class="section-heading" style="text-align: center">ꯣ𐳖 𐲦 °</h2>
<p style="text-align: center">
    {% include embed-audio.html
    src="https://share.clusterian.pw/api/public/dl/QDj1LLf1/host_songs/20240122.mp3"
    %}
</p>
<p style="text-align: center"><sub><b><a
                href="https://share.clusterian.pw/api/public/dl/QDj1LLf1/host_songs/20240122.mp3">20240122.dsf</a></sub></b></p>

<div>
    <p><b>next steps:</b></p>
    <div class="small">
        <ul>
            <li>backup old mlre</li>
            <ul>
                <li><code>code/mlre/**</code></li>
                <li><code>data/mlre/**</code></li>
                <li><code>audio/**</code></li>
            </ul>
            <li>add mlre v2</li>
            <ul>
                <li><code>code/mlre</code></li>
                <ul>
                    <li>recreate old psets w/ new params</li>
                    <ul>
                        <li>bounce new sounds</li>
                        <p style="text-align: left">
                            <img class="img-fluid" src="/img/posts/31.jpg"
                                alt="new bounces image" />
                        </p>
                        <ul>
                            <li>create new psets</li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
        <p>...and most importantly, continue creating new material /
            reinterpreting it thru performance.</p>
    </div>
</div>
